
<%= content_for :page_title,  "Leave a Comment" %>
<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-warning" %> 
  <%= link_to "Back to articles", articles_path, class: "btn btn-secondary" %>
   <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-danger" %>
</div>
<br>
<hr>
<h4><span class="badge badge-info"><%= @article.comments.count%></span>Comments</h6>
<%= render @article.comments %>
<br>
<%= render "comments/form"%>